# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/


# env file
.env

# Editor/IDE
# .idea/
# .vscode/

api/*/bin/
services/*/bin/
chart/opendepot/tls-secret.yaml
.DS_Store
examples/internal-developer-portal/server/dist/
examples/internal-developer-portal/server/node_modules/
examples/internal-developer-portal/server/.env
examples/internal-developer-portal/node_modules/
examples/internal-developer-portal/dist/
examples/internal-developer-portal/.envs
examples/internal-developer-portal/.vite/*

site/*
.cache/*
.session-memory/*
test/local/.terraform/
test/local/terraform.tfstate
test/local/terraform.tfstate.backup