go 1.25.5

use (
	./api/v1alpha1
	./pkg/github
	./pkg/storage
	./pkg/testutils
	./pkg/utils
	./services/depot
	./services/module
	./services/provider
	./services/server
	./services/version
)

replace (
	github.com/tonedefdev/opendepot/api/v1alpha1 v0.0.0-20260214165229-59ed26a15d6f => ./api/v1alpha1
	github.com/tonedefdev/opendepot/pkg/github v0.0.0-20260204044222-70ab09438161 => ./pkg/github
	github.com/tonedefdev/opendepot/pkg/storage v0.0.0-20260204044222-70ab09438161 => ./pkg/storage
)
