<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>OpenDepot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="{{ url .ReqPath "theme/favicon.svg" }}">
    <link href="{{ url .ReqPath "static/main.css" }}" rel="stylesheet">
    <link href="{{ url .ReqPath "theme/styles.css" }}" rel="stylesheet">
  </head>

  <body class="theme-body">
    <main class="opendepot-shell">
      <div class="opendepot-brand">
        <img class="opendepot-brand__logo" src="{{ url .ReqPath "theme/logo.svg" }}" alt="OpenDepot">
      </div>
      <div class="dex-container">
